PUBLIC_SITE_TITLE=your-site-title
PUBLIC_SITE_DESCRIPTION=Your site description here
PUBLIC_OG_IMAGE=/og-image.png
PUBLIC_GITHUB_URL=https://github.com/your-username
PUBLIC_LINKEDIN_URL=https://www.linkedin.com/in/your-username
PUBLIC_EMAIL=you@example.com
